cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
greenlet==3.1.1
h11==0.14.0
jh2==5.0.8
niquests==3.13.1
pillow==11.1.0
pycparser==2.22
pystray==0.19.5
qh3==1.4.2
six==1.17.0
SQLAlchemy==2.0.38
tomli==2.2.1
ttkbootstrap==1.10.1
typing_extensions==4.12.2
urllib3-future==2.12.912
wassima==1.2.2
xmltodict==0.14.2